[tool.kedro]
package_name = "spring_system"
project_name = "spring-system"
kedro_init_version = "0.19.10"

[tool.pytest.ini_options]
addopts = """
--cov-report term-missing \
--cov src/spring_system -ra"""

[tool.coverage.report]
fail_under = 0
show_missing = true
exclude_lines = ["pragma: no cover", "raise NotImplementedError"]

[tool.ruff]
line-length = 88
show-fixes = true
select = [
    "F",   # Pyflakes
    "W",   # pycodestyle
    "E",   # pycodestyle
    "I",   # isort
    "UP",  # pyupgrade
    "PL",  # Pylint
    "T201", # Print Statement
]
ignore = ["E501"]  # Black takes care of line-too-long
